<ng-container [ngSwitch]="viewModelProperty.schema.uiControlType">
  <ng-container *ngSwitchCase="'textbox'">
      <app-textbox [detailsForm]="detailsForm" [viewModelProperty]="viewModelProperty">
      </app-textbox>
  </ng-container>
  <ng-container *ngSwitchCase="'checkbox'">
      <app-checkbox [detailsForm]="detailsForm" [viewModelProperty]="viewModelProperty">
      </app-checkbox>
  </ng-container>
  <ng-container *ngSwitchCase="'date'">
    <app-date [detailsForm]="detailsForm" [viewModelProperty]="viewModelProperty">
    </app-date>
  </ng-container>
</ng-container>

<ng-container *ngIf="this.detailsForm.get(this.viewModelProperty.key).touched || this.detailsForm.get(this.viewModelProperty.key).dirty">
  <ng-container *ngFor="let item of validationDictionary">
    <small
      class="form-text  text-danger"
      *ngIf="this.detailsForm.hasError(item.validation, this.viewModelProperty.key)" >
      {{validations[item.validationGlobal]?.errorMessage}}
    </small>
  </ng-container>
</ng-container>
